[submodule "contrib/transistor-sandbox"]
	path = contrib/transistor-sandbox
	url = https://github.com/andrenho/transistor-sandbox.git
	branch = master
[submodule "contrib/pastel2d"]
	path = contrib/pastel2d
	url = https://github.com/andrenho/pastel2d.git
	branch = master
[submodule "contrib/SDL"]
	path = contrib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "contrib/Nuklear"]
	path = contrib/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "contrib/pastel-base"]
	path = contrib/pastel-base
	url = https://github.com/andrenho/pastel-base
[submodule "contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
